@use '../utils' as u;

%widget {
  padding: u.rem(16);
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: u.rem(40);
  width: min(100%, u.rem(1000));
  margin-inline: auto;

  @include u.breakpoint(large) {
   grid-template-columns: 2fr 1fr;
   grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: u.rem(40);
  }

  &__main {
    background-color: hsl(240, 99%, 33%);

    @include u.breakpoint(medium) {
      background-color: hsl(120, 100%, 16%);
    }

    @include u.breakpoint(large) {
      background-color: hsl(39, 100%, 35%);
    }
  }

  &__sidebar {
    // background-color: hsl(300, 100%, 30%);

    @include u.breakpoint-down(medium) {
      text-align: center;
    }
  }

  &__widget {
    padding: u.rem(16);
    // $widget: &;
    &.magenta {
      @extend %widget;
      background-color: hsl(300, 100%, 30%);
    }



    &.green {
      // @extend .grid__widget;
      // @extend #{$widget};
      @extend %widget;
      background-color: hsl(120, 100%, 27%);
    }
  }
}



